@media print {
    .no-print {
        visibility: hidden;
    }
}

.msg {
    padding: 10px;
    background: #222;
    position: relative;
}

.msg h1 {
    color: #fff;
}

.msg a {
    margin-left: 20px;
    background: #408814;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
}

.msg a:hover {
    background: #266400;
}

body {
    font-family: Georgia;
    color: #444;
}

#inner {
    padding: 10px 80px;
    margin: 80px auto;
    background: #f5f5f5;
    border: solid #666;
    border-width: 8px 0 2px 0;
}

.yui-gf {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

#hd {
    margin: 2.5em 0 3em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc
}

#hd h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#bd,
#ft {
    margin-bottom: 2em;
}

#ft {
    padding: 1em 0 5em 0;
    font-size: 92%;
    border-top: 1px solid #ccc;
    text-align: center;
}

#ft p {
    margin-bottom: 0;
    text-align: center;
}

#hd h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 152%
}

h3,
h4 {
    font-size: 122%;
}

h1,
h2,
h3,
h4 {
    color: #333;
}

p {
    font-size: 100%;
    line-height: 18px;
    padding-right: 3em;
}

a {
    color: #990003
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

li {
    line-height: 24px;
    border-bottom: 1px solid #ccc;
}

p.enlarge {
    font-size: 144%;
    padding-right: 6.5em;
    line-height: 24px;
}

p.enlarge span {
    color: #000
}

.contact-info {
    margin-top: 7px;
}

.first h2 {
    font-style: italic;
}

.last {
    border-bottom: 0
}

a#pdf {
    display: block;
    float: left;
    background: #666;
    color: white;
    padding: 6px 50px 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
}

a#pdf:hover {
    background: #222;
}

.job {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.job h4 {
    position: absolute;
    top: 0.35em;
    right: 0
}

.job p {
    margin: 0.75em 0 3em 0;
}

.last {
    border: none;
}

.skills-list ul {
    margin: 0;
}

.skills-list li {
    margin: 3px 0;
    padding: 3px 0;
}

.skills-list li span {
    font-size: 152%;
    display: block;
    margin-bottom: -2px;
    padding: 0
}

.talent {
    width: 32%;
    float: left
}

.talent h2 {
    margin-bottom: 6px;
}

#srt-ttab {
    margin-bottom: 100px;
    text-align: center;
}

#srt-ttab img.last {
    margin-top: 20px
}

.yui-gf .yui-u {
    width: 80.2%;
}

.yui-gf div.first {
    width: 12.3%;
}

.hide {
    display: none;
}


html {
    color: #000;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

legend {
    color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
button,
textarea,
select {
    *font-size: 100%;
}

body {
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
    *font-size: small;
    *font: x-small;
}

select,
input,
button,
textarea,
button {
    font: 99% arial, helvetica, clean, sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

pre,
code,
kbd,
samp,
tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

body {
    text-align: center;
}

#doc,
#doc2,
#doc3,
#doc4,
.yui-t1,
.yui-t2,
.yui-t3,
.yui-t4,
.yui-t5,
.yui-t6,
.yui-t7 {
    margin: auto;
    text-align: left;
    width: 57.69em;
    *width: 56.25em;
}

#doc2 {
    width: 73.076em;
    *width: 71.25em;
}

#doc3 {
    margin: auto 10px;
    width: auto;
}

#doc4 {
    width: 74.923em;
    *width: 73.05em;
}

.yui-b {
    position: relative;
}

.yui-b {
    _position: static;
}

#yui-main .yui-b {
    position: static;
}

#yui-main,
.yui-g .yui-u .yui-g {
    width: 100%;
}

.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main {
    float: right;
    margin-left: -25em;
}

.yui-t4 #yui-main,
.yui-t5 #yui-main,
.yui-t6 #yui-main {
    float: left;
    margin-right: -25em;
}

.yui-t1 .yui-b {
    float: left;
    width: 12.30769em;
    *width: 12.00em;
}

.yui-t1 #yui-main .yui-b {
    margin-left: 13.30769em;
    *margin-left: 13.05em;
}

.yui-t2 .yui-b {
    float: left;
    width: 13.8461em;
    *width: 13.50em;
}

.yui-t2 #yui-main .yui-b {
    margin-left: 14.8461em;
    *margin-left: 14.55em;
}

.yui-t3 .yui-b {
    float: left;
    width: 23.0769em;
    *width: 22.50em;
}

.yui-t3 #yui-main .yui-b {
    margin-left: 24.0769em;
    *margin-left: 23.62em;
}

.yui-t4 .yui-b {
    float: right;
    width: 13.8456em;
    *width: 13.50em;
}

.yui-t4 #yui-main .yui-b {
    margin-right: 14.8456em;
    *margin-right: 14.55em;
}

.yui-t5 .yui-b {
    float: right;
    width: 18.4615em;
    *width: 18.00em;
}

.yui-t5 #yui-main .yui-b {
    margin-right: 19.4615em;
    *margin-right: 19.125em;
}

.yui-t6 .yui-b {
    float: right;
    width: 23.0769em;
    *width: 22.50em;
}

.yui-t6 #yui-main .yui-b {
    margin-right: 24.0769em;
    *margin-right: 23.62em;
}

.yui-t7 #yui-main .yui-b {
    display: block;
    margin: 0 0 1em 0;
}

#yui-main .yui-b {
    float: none;
    width: auto;
}

.yui-gb .yui-u,
.yui-g .yui-gb .yui-u,
.yui-gb .yui-g,
.yui-gb .yui-gb,
.yui-gb .yui-gc,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-gf,
.yui-gc .yui-u,
.yui-gc .yui-g,
.yui-gd .yui-u {
    float: left;
}

.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf,
.yui-gc .yui-u,
.yui-gd .yui-g,
.yui-g .yui-gc .yui-u,
.yui-ge .yui-u,
.yui-ge .yui-g,
.yui-gf .yui-g,
.yui-gf .yui-u {
    float: right;
}

.yui-g div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first,
.yui-g .yui-gc div.first,
.yui-g .yui-ge div.first,
.yui-gc div.first div.first {
    float: left;
}

.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf {
    width: 49.1%;
}

.yui-gb .yui-u,
.yui-g .yui-gb .yui-u,
.yui-gb .yui-g,
.yui-gb .yui-gb,
.yui-gb .yui-gc,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-gf,
.yui-gc .yui-u,
.yui-gc .yui-g,
.yui-gd .yui-u {
    width: 32%;
    margin-left: 1.99%;
}

.yui-gb .yui-u {
    *margin-left: 1.9%;
    *width: 31.9%;
}

.yui-gc div.first,
.yui-gd .yui-u {
    width: 66%;
}

.yui-gd div.first {
    width: 32%;
}

.yui-ge div.first,
.yui-gf .yui-u {
    width: 74.2%;
}

.yui-ge .yui-u,
.yui-gf div.first {
    width: 24%;
}

.yui-g .yui-gb div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first {
    margin-left: 0;
}

.yui-g .yui-g .yui-u,
.yui-gb .yui-g .yui-u,
.yui-gc .yui-g .yui-u,
.yui-gd .yui-g .yui-u,
.yui-ge .yui-g .yui-u,
.yui-gf .yui-g .yui-u {
    width: 49%;
    *width: 48.1%;
    *margin-left: 0;
}

.yui-g .yui-g .yui-u {
    width: 48.1%;
}

.yui-g .yui-gb div.first,
.yui-gb .yui-gb div.first {
    *margin-right: 0;
    *width: 32%;
    _width: 31.7%;
}

.yui-g .yui-gc div.first,
.yui-gd .yui-g {
    width: 66%;
}

.yui-gb .yui-g div.first {
    *margin-right: 4%;
    _margin-right: 1.3%;
}

.yui-gb .yui-gc div.first,
.yui-gb .yui-gd div.first {
    *margin-right: 0;
}

.yui-gb .yui-gb .yui-u,
.yui-gb .yui-gc .yui-u {
    *margin-left: 1.8%;
    _margin-left: 4%;
}

.yui-g .yui-gb .yui-u {
    _margin-left: 1.0%;
}

.yui-gb .yui-gd .yui-u {
    *width: 66%;
    _width: 61.2%;
}

.yui-gb .yui-gd div.first {
    *width: 31%;
    _width: 29.5%;
}

.yui-g .yui-gc .yui-u,
.yui-gb .yui-gc .yui-u {
    width: 32%;
    _float: right;
    margin-right: 0;
    _margin-left: 0;
}

.yui-gb .yui-gc div.first {
    width: 66%;
    *float: left;
    *margin-left: 0;
}

.yui-gb .yui-ge .yui-u,
.yui-gb .yui-gf .yui-u {
    margin: 0;
}

.yui-gb .yui-gb .yui-u {
    _margin-left: .7%;
}

.yui-gb .yui-g div.first,
.yui-gb .yui-gb div.first {
    *margin-left: 0;
}

.yui-gc .yui-g .yui-u,
.yui-gd .yui-g .yui-u {
    *width: 48.1%;
    *margin-left: 0;
}

.yui-gb .yui-gd div.first {
    width: 32%;
}

.yui-g .yui-gd div.first {
    _width: 29.9%;
}

.yui-ge .yui-g {
    width: 24%;
}

.yui-gf .yui-g {
    width: 74.2%;
}

.yui-gb .yui-ge div.yui-u,
.yui-gb .yui-gf div.yui-u {
    float: right;
}

.yui-gb .yui-ge div.first,
.yui-gb .yui-gf div.first {
    float: left;
}

.yui-gb .yui-ge .yui-u,
.yui-gb .yui-gf div.first {
    *width: 24%;
    _width: 20%;
}

.yui-gb .yui-ge div.first,
.yui-gb .yui-gf .yui-u {
    *width: 73.5%;
    _width: 65.5%;
}

.yui-ge div.first .yui-gd .yui-u {
    width: 65%;
}

.yui-ge div.first .yui-gd div.first {
    width: 32%;
}

#hd:after,
#bd:after,
#ft:after,
.yui-g:after,
.yui-gb:after,
.yui-gc:after,
.yui-gd:after,
.yui-ge:after,
.yui-gf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#hd,
#bd,
#ft,
.yui-g,
.yui-gb,
.yui-gc,
.yui-gd,
.yui-ge,
.yui-gf {
    zoom: 1;
}

.hide {
    display: none;
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-overall-container {
    position: relative;
    border-radius: 50px;
    height: 600px;
    width: 900px;
    background-image: linear-gradient(to right top, #1658b5, #8752b3, #ff6a5c, #fc714a, #f57a37, #ec8422, #dd701d, #cd5c19, #bd4816, #ac3413);
    -webkit-box-shadow: 46px 44px 96px 1px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 46px 44px 96px 1px rgba(0, 0, 0, 0.56);
    box-shadow: 46px 44px 96px 1px rgba(0, 0, 0, 0.56);
}

#resume-nav-bar {
    margin: 10px;
    position: absolute;
    background-image: linear-gradient(180deg, #ffffff00, #F35B10);
    border-radius: 10px 10px 35px 35px;
    top: 30px;
    height: 100px;
    width: 850px;
}

#resume-nav-bar button {
    padding: 20px;
    margin: 10px;
}

#resume-main-div label {
    color: white;
    font-size: 26px;
}

#resume-internal-div,
#education-input-container,
#personal-input-container,
#profile-info-container,
#experience-container,
#summary-container {
    text-align: end;
    margin-top: 30px;
    width: 550px;
}

#resume-main-div input,
textarea {
    border-radius: 999px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: none;
    outline-width: 0;
}

#skills-input-container,#summary-container {
    height: 222px;
    width: 818px;
    overflow-y: scroll;
}

.resume-overall-container {
    transition: all 0.5s;
} 

.next-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.back-button {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

#education-input-container,
#experience-input-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 519px;
    width: 550px;
}

#education-input-container>div,
#experience-input-container>div {
    margin: 32px;
}

.add-button {
    position: absolute;
    right: 32px;
    bottom: 120px;
}

#profile-input-container,
#achievements-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

#profile-input-container textarea,
#achievements-input-container textarea {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 50px;
    border: none;
    outline-width: 0
}

#experience-input-container .textarea {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    padding: 0px;
    word-wrap: break-word;
    word-break: break-all;
}

.experience-remove-button {
    top: 453px;
    left: 394px;
    position: absolute;
}
.skills-remove-button{
    top: -9px;
    left: 516px;
    position: absolute;
}
.orange-active,
.orange-button:hover {
  border-radius: 84px;
  background: #F35B10;
  box-shadow: inset 22px 22px 58px #b4430c,
    inset -22px -22px 58px #ff7314;
}


.skills-relative {
  margin-top: 30px !important;
}

.education-remove-button {
    top: 451px;
    left: 395px;
    position: absolute;
}

[data-name="resume-templet-container"] {
    position: fixed;
}

.close {
    position: fixed;
    top: 43px;
    right: 52px;
}

.download-button {
    top: 674px;
    position: absolute;
}

.preview-button {
    top: 531px;
    left: 217px;
    position: absolute;
}

#achievements-input-container textarea {
    width: 600px;
    margin: 0px;
    height: 100px;
}

.achievements-remove-button {
    top: 142px !important;
    left: 535px !important;
    position: absolute;
}

.achievements-relative {
    margin-top: 90px !important;
}

#summary-container {
    height: 343px;
}